body {
 background: url(hiq.webp) no-repeat center center fixed;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 background-color: black;
}



.poem {
  background-color: white;
  font-family: monospace;
  font-size: 2em;
  font-size: 6vw;
  padding: 2.5vw;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-35%, -50%);
  resize: both;
  overflow: auto;
}
